<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
    <section>
        <form action="/admin/login" method="post">
            <h1>Admin Login</h1>
            <div class="dialog-row">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>                   
            </div>
            <div class="inputbox">
                <ion-icon name="person-circle-outline"></ion-icon>
                <input name="adminUsername" id="adminUsername" type="text" required>
                <label for="adminUsername">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="adminPassword" type="password" id="adminPassword" required>
                <label for="adminPassword">Password</label>
            </div>
            <div class="register">
                <p><a href="#">Forgot Password?</a></p>
            </div>
            <button>Log in</button>
        </form>
    </section>
</body>
</html>