<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Signup Form</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/admin-signup.js" defer></script>
</head>
<body>
  <section>
    <form action="/admin/signup" method="post">
      <h1>Admin Sign Up</h1>
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" id= "adminUsername" name="adminUsername" required>
            <label for="adminUsername">Name</label>
        </div>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" id="adminEmail" name="adminEmail" required>
            <label for="adminEmail">Email</label>
        </div>
        
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="adminPassword" name="adminPassword" required>
            <label for="adminPassword">Password</label>
        </div>  
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" id="adminPasswordCon" name="adminPasswordCon" required>
          <label for="adminPasswordCon">Confirm Password</label>
      </div>  
        <button id= "adminSubmit" type="submit">Sign Up</button>
      <div class="register">
        <p>Already have an account? <a href="/admin/login">Log In</a></p>
      </div>
    </form>
  </section>
</body>
</html>
<script>
  const submitButton = document.getElementById("adminSubmit");
  submitButton.addEventListener('click', () => {
    const username = document.getElementById('adminUsername').value;
    const password = document.getElementById('adminPassword').value;
    const confirmPassword = document.getElementById('adminPasswordCon').value;
    const email = document.getElementById('adminEmail').value;
    const data = {
      username,
      email,
      password
    }
    
    if (password === confirmPassword) {
      const jsonData = JSON.stringify(data);
      fetch('/admin/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: jsonData
      })
      .then(response => {
        // Handle response
      })
    } else {
      alert("Passwords do not match.");
    }
  });
</script>