<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Signup Form</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/signup.js}" defer></script>
</head>

<body>
  <section>
    <form th:action="@{/user/signup}" method="post">
      <h1>Sign Up</h1>
      <div class="inputbox">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" id="username" name="username" required>
        <label for="username">Name</label>
      </div>

      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" id="password" name="password" required>
        <label for="password">Password</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" id="passwordcon" name="passwordcon" required>
        <label for="passwordcon">Confirm Password</label>
      </div>
      <button id="submit" type="submit">Sign Up</button>
      <div class="register">
        <p>Already have an account? <a th:href="@{/login}">Log In</a></p>
      </div>
    </form>
  </section>
</body>

</html>
<script th:inline="javascript">
  /*<![CDATA[*/
  const submitButton = document.getElementById("submit");
  submitButton.addEventListener('click', (e) => {
    e.preventDefault();  // Prevents default form submission behavior
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('passwordcon').value;

    if (password === confirmPassword) {
      const data = {
        username: username,
        password: password
      };

      fetch(/*[[@{/user/signup}]]*/, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => {
          if (response.ok) {
            // Handle successful registration
            alert('Signup successful!');
          } else {
            // Handle signup error
            alert('Signup failed.');
          }
        })
        .catch(error => {
          alert('Error:', error);
        });
    } else {
      alert('Passwords do not match');
    }
  });
  /*]]>*/
</script>